.subscribe-button {
  background-color: #007cc7;
  color: #eefbfb;
  border-radius: 20px;
  padding: 0.7rem 2rem;
  border: none;
  margin: 10px;
  outline: none;
  font-family: "Open Sans", sans-serif;
}

.subscribe-button:active,
.subscribe-button:focus {
  outline: none;
}

.unsubscribe-button {
  background-color: #eefbfbb6;

  color: #eefbfb;
  border-radius: 20px;
  padding: 0.7rem 2rem;
  font-family: "Open Sans", sans-serif;
  border: none;
  margin: 10px;
  outline: none;
}

.unsubscribe-button:active,
.unsubscribe-button:focus {
  outline: none;
}

.friendsList {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  align-items: center;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #eefbfb;
}

.friendsList .card > img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.friendsList .card {
  display: flex;
  flex-direction: row;
  border: 1px solid #007cc7;
  border-radius: 100px;
  background: none;
  width: 100%;
  background-color: #203647;
}
.friendsList .card-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card-end {
  display: flex;
  flex-direction: row;
}

.coin-img {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 600px) {
  .subscribe-button {
    background-color: #007cc7;
    color: #eefbfb;
    border-radius: 20px;
    padding: 0.2rem 1rem;
    margin: 5px;
    outline: none;
    font-family: "Open Sans", sans-serif;
  }
  .friendsList {
    width: 100vw;
    height: 100%;
  }

  .unsubscribe-button {
    padding: 0.2rem 1rem;
  }
}
