.subscribe-button {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  color: white;
  border-radius: 1rem;
  padding: 0.7rem 4rem;
  border: none;
  margin: 10px;
  outline: none;
}

.subscribe-button:active,
.subscribe-button:focus {
  outline: none;
}

.unsubscribe-button {
  background: linear-gradient(to right top, #f2709c, #ff9472);
  color: white;
  border-radius: 1rem;
  padding: 0.7rem 4rem;
  border: none;
  margin: 10px;
  outline: none;
}

.unsubscribe-button:active,
.unsubscribe-button:focus {
  outline: none;
}

.friendsList {
  width: 98%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  align-items: center;
  text-align: center;
}

.friendsList .card img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.friendsList .card {
  display: flex;
  flex-direction: row;
  border: 2px solid rgba(23, 190, 163, 0.651);
  border-radius: 100px;
  background: none;
  width: 100%;
}
.friendsList .card-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
