p {
  margin: 0;
  padding: 5px;
}

.post-container {
  border: 1px solid #007cc7;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.lkbutton {
  background-color: #007cc7;
  color: #eefbfb;
  border-radius: 20px;
  padding: 0.4rem 2rem;
  border: none;
  margin: 10px;
  margin-top: 50px;
  width: 20vw;
}

@media screen and (max-width: 600px) {
  .lkbutton {
    padding: 0.2rem 1rem;
    width: 40vw;
  }
  .post-container {
    text-align: center;
  }
}
