.glass {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.glass h3 {
  font-family: "Open Sans", sans-serif;
  color: #eefbfb;
  font-weight: 600;
  margin: 10px;
}

.glass input {
  background-color: #eefbfb;
  border: none;
  padding: 1rem;
  border-radius: 2rem;
  outline: none;
  text-align: center;
  width: 20vw;
  margin: 10px;
}

.glass button {
  background-color: #007cc7;
  color: #eefbfb;
  border-radius: 20px;
  padding: 0.7rem 4rem;
  border: none;
  margin: 10px;
  margin-top: 50px;
  width: 20vw;
}

@media screen and (max-width: 600px) {
  .glass input {
    width: 80vw;
  }

  .glass button {
    margin-top: 30px;
    width: 80vw;
  }
}
