.feed-container {
  display: flex;
  flex-direction: column;
  height: 98%;
  width: 98%;
  overflow-y: scroll;
  font-family: "Poppins", sans-serif;
  color: #426696;
  font-weight: 600;
  font-size: 18px;
}
