p {
  margin: 0;
  padding: 5px;
}

.buttons button {
  background-color: #007cc7;
  color: #eefbfb;
  border-radius: 20px;
  padding: 0.4rem 2rem;
  border: none;
  margin: 10px;
  outline: none;
}

.container-post {
  width: 50vw;
  margin: 0 auto;
}

.container-post .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  background-color: #203647;
  border: none;
}

.card form button {
  background-color: #007cc7;
  color: #eefbfb;
  border-radius: 20px;
  padding: 0.4rem 2rem;
  border: none;
  margin: 10px;
}

.card input {
  outline: none;
  padding: 1rem;
  text-align: center;
  width: 100%;
  margin: 10px;
}
.commentLeft {
  width: 11vw;
}

.card-title {
  width: 50vw;
}

.commentLeft p {
  display: flex;
  flex-direction: column;

  color: #eefbfb;
}

.card-name {
  width: 100%;
  border-radius: 10px;
}

.card-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card-info-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-right: 70px;
}

.commentBox {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.commentBox p {
  font-size: 15px;
  color: #eefbfb;
}

.commentOne {
  display: flex;
  flex-direction: row;
}
.commentOne img {
  border-radius: 50%;
}
