p {
  margin: 0;
  padding: 5px;
}

.buttons button {
  background-color: #007cc7;
  color: #eefbfb;
  border-radius: 20px;
  padding: 0.4rem 2rem;
  border: none;
  margin: 10px;
  outline: none;
}

.container-post {
  width: 50vw;
  margin: 0 auto;
}

.container-post .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  background-color: #203647;
  border: none;
}

.card form button {
  background-color: #007cc7;
  color: #eefbfb;
  border-radius: 20px;
  padding: 0.4rem 2rem;
  border: none;
  margin: 10px;
}

.card input {
  outline: none;
  padding: 1rem;
  text-align: center;
  border-radius: 20px;
  padding: 0.4rem 2rem;
}
.commentLeft {
  width: 18vw;
}

.card .left-info {
  display: flex;
  align-items: center;
}

.card-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 40vw;
}

.card-info-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 20vw;
}

.commentBox {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.commentBox p {
  font-size: 15px;
  color: #eefbfb;
}

.commentOne {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.commentOne img {
  border-radius: 50%;
}

.lefttextcomm {
  width: 15vw;
}

.fail {
  background-color: rgba(255, 0, 0, 0.671);
  width: 100%;
}

.done {
  background-color: rgba(38, 185, 38, 0.87);
  width: 100%;
}

.active {
  background-color: #007cc7;
  width: 100%;
}
.card-text {
  width: 20vw;
}

@media screen and (max-width: 600px) {
  .buttons button {
    padding: 0.2rem 1rem;
    margin: 5px;
  }

  .container-post {
    width: 90vw;
  }
  .card form button {
    padding: 0.2rem 1rem;
    margin: 5px;
  }
  .commentLeft {
    width: 55vw;
  }

  .commentOne {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .lefttextcomm {
    width: 30vw;
  }
  .card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
  }
  .card-info-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80vw;
  }

  .card .left-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
