.form-control {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border: none;
  width: 85%;
  padding: 0.5rem;
  border-radius: 2rem;
  text-align: center;
  height: 80px;
}

.btn {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border: none;
  width: 85%;
  padding: 0.5rem;
  border-radius: 2rem;
  color: #426696;
  height: 60px;
}
