.links {
  width: 100%;
}

.navlink {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: #eefbfb;
  font-weight: 600;
  font-size: 24px;
  opacity: 0.8;
}

.link h2 {
  padding: 10px;
}

a.navlink:hover {
  text-decoration: none;
  color: white;
}

.link:hover {
  background-color: rgba(18, 35, 46, 0.3);
}

.link:active {
  background-color: rgba(18, 35, 46, 0.4);
}

.logo img {
  width: 40%;
  border-radius: 50%;
}

.logoText {
  font-family: "Staatliches", sans-serif;
  font-size: 40px;
}

.user img {
  border-radius: 50%;
  border: 2px solid white;
}

@media screen and (max-width: 600px) {
  .navlink {
    font-size: 14px;
  }

  .links {
    display: flex;
    flex-direction: column;
  }

  .link {
    margin-top: -5px;
  }

  .logo {
    width: 25vw;
  }

  .logo img {
    width: 45%;
  }

  .user img {
    border-radius: 50%;
    border: 2px solid white;
    width: 60%;
  }
}
