.main {
  width: 75vw;
  height: 100vh;
  background-color: #12232e;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .main {
    width: 100vw;
    height: 80vh;
  }
}
