@import url("https://fonts.googleapis.com/css2?family=Lemonada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
}

.screen {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

::-webkit-scrollbar {
  display: none;
}

body {
  overscroll-behavior-y: none;
  height: 100vh;
}

.dashboard {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  background-color: #007cc7;
  width: 25vw;
  height: 100vh;
}

.exit {
  background-color: #eefbfb83;
  color: #eefbfb;
  padding: 0.4rem 1.5rem;
  border-radius: 30px;

  border: none;
}

.logoText {
  font-family: "Lemonada", cursive;
}

@media screen and (max-width: 600px) {
  .screen {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .dashboard {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: center;
    background-color: #007cc7;
    width: 100vw;
    height: 30vh;
  }

  .exit {
    padding: 0.1rem 1rem;
    margin-top: 15px;
  }

  .exit h3 {
    font-size: 12px;
    padding-top: 3px;
  }
}
