@import url("https://fonts.googleapis.com/css2?family=Lemonada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  height: 100vh;
  overscroll-behavior-y: none;
}

.dashboard {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  background-color: #007cc7;
  width: 500px;
  height: 100vh;
}

.exit {
  background-color: #eefbfbbb;
  padding: 0.5rem 2rem;
  border-radius: 30px;
  border: none;
}

.logoText {
  font-family: "Lemonada", cursive;
}
