.contract-form-container {
  font-family: "Open Sans", sans-serif;
  color: #eefbfb;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}

.form-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5px;
}

.form-item input,
textarea {
  background-color: #eefbfbd5;
  border: none;
  padding: 0.7rem;
  border-radius: 2rem;
  outline: none;
  width: 40vw;
}

#contract-difficulty {
  background-color: #007cc7;
  border-radius: 1rem;
}

.contract-form-button {
  background-color: #007cc7;
  color: #eefbfb;
  border-radius: 1rem;
  padding: 0.7rem 4rem;
  border: none;
  margin: 5px;
}
