.chat {
  overflow-y: scroll;
  width: 50vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.message-sent {
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
}

.message-received {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
}

.chat input {
  background-color: #eefbfb;
  border: none;
  padding: 0.4rem;
  border-radius: 50px;
  outline: none;
  text-align: center;
  width: 100%;
}

.chat button {
  background-color: #007cc7;
  color: #eefbfb;
  border-radius: 20px;
  padding: 0.7rem 4rem;
  border: none;
  margin: 10px;
}

.chatForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.textMes {
  background-color: #eefbfb;
  width: 100%;
  border-radius: 30px;
}

@media screen and (max-width: 600px) {
  .chat {
    width: 89vw;
  }
}
